.table-responsive {
    position: relative;
    overflow-y: auto;
    height: 390px;
  }
  .text-right { 
    text-align: right; 
  }

  @media only screen and (max-width: 600px) {
    .table-responsive {
      position: relative;
      overflow-y: auto;
      height: 390px;
      width: 200px;
    }
  }